<body>
  <div class="container">
    <div class="result" id="result">{{resultado}}</div>
    <div class="calculator">
      <button (click)="agregarNumero('7')">7</button>
      <button (click)="agregarNumero('8')">8</button>
      <button (click)="agregarNumero('9')">9</button>
      <button (click)="agregarNumero('/')">/</button>
      <button (click)="agregarNumero('4')">4</button>
      <button (click)="agregarNumero('5')">5</button>
      <button (click)="agregarNumero('6')">6</button>
      <button (click)="agregarNumero('*')">*</button>
      <button (click)="agregarNumero('1')">1</button>
      <button (click)="agregarNumero('2')">2</button>
      <button (click)="agregarNumero('3')">3</button>
      <button (click)="agregarNumero('-')">-</button>
      <button (click)="agregarNumero('0')">0</button>
      <button class="clear-button" (click)="limpiar()">Borrar</button>
      <button (click)="calcular()">=</button>
      <button (click)="agregarNumero('+')">+</button>
    </div>
  </div>